<?xml version="1.0"?>
<launch>

	<arg name="robot_name"/>
	<arg name="uav_model" default="iris_camera"/>

	<arg name="x_uav" default="0"/>
        <arg name="y_uav" default="0"/>
        <arg name="z_uav" default="0.3"/>
	
	<arg name="roll_uav" default="0"/>
        <arg name="pitch_uav" default="0"/>
        <arg name="yaw_uav" default="3.14"/>

	<node name="spawn_uav" pkg="gazebo_ros" type="spawn_model" args="-file $(find test_simulation_description)/gazebo_model/models/$(arg uav_model)/$(arg uav_model).sdf -sdf -model $(arg uav_model) -x $(arg x_uav) -y $(arg y_uav) -z $(arg z_uav) -R $(arg roll_uav) -P $(arg pitch_uav) -Y $(arg yaw_uav)"/>

	

</launch>
