<?xml version="1.0"?>

<launch>
	<!--include file="$(find control_rosparam)/launch/set_param.launch" /-->	
	<node 
  		name="move_drone" 
		pkg="aut_opp" 
		type="move_drone" 
		respawn="true" 
		output="screen" 
	/>

	<node 
  		name="start" 
		pkg="aut_opp" 
		type="start" 
		respawn="true" 
		output="screen" 
	/>

	<node 
  		name="land" 
		pkg="aut_opp" 
		type="land_drone" 
		respawn="true" 
		output="screen" 
	/>


	<node 
  		name="manual" 
		pkg="aut_opp" 
		type="manual" 
		respawn="true" 
		output="screen" 
	/>


	<node 
  		name="control_rosparam" 
		pkg="control_rosparam" 
		type="control_rosparam" 
		respawn="true" 
		output="screen" 
		launch-prefix="xterm -e"
	/>
</launch>
