<?xml version="1.0"?>
<robot name="uwb_platform_model" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- uwb-platform include files -->
	<xacro:include filename="$(find uav_simulation_description)/gazebo_model/models/uwb_platform/uwb_platform_parameters.xacro" />
      
	<xacro:include filename="$(find uav_simulation_description)/gazebo_model/models/uwb_platform/link_joints.xacro" />
	
	
	
	<!-- platform base -->
	
	<link name="base_footprint"/>
	
	<joint name="base_footprint__${l00}" type="fixed">
		<parent link="base_footprint" />
		<child link="${l00}"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>>
	
	
	<!-- Initialize a platform -->	
	
	<xacro:m_platform_base
		name="${l00}"
		origin_xyz="0 0 0"
		origin_rpy="0 0 0"
		ixx="170.000" ixy="0" ixz="0"
		iyy="170.000" iyz="0"
		izz="170.000" />
		
	<!-- Initialize the uwb modules -->
	<xacro:m_uwb_anchor
		name="${l01}"
		parent="${l00}"
		origin_xyz="-0.30 0.30 0.12"
		origin_rpy="0 0 0"
		ixx="0" ixy="0" ixz="0"
		iyy="0" iyz="0"
		izz="0" />
		

	<xacro:m_uwb_anchor
                name="${l02}"
                parent="${l00}"
                origin_xyz="0.30 0.30 0.12"
                origin_rpy="0 0 0"
                ixx="0" ixy="0" ixz="0"
                iyy="0" iyz="0"
                izz="0" />
	
	<xacro:m_uwb_anchor
                name="${l03}"
                parent="${l00}"
                origin_xyz="-0.30 -0.30 0.12"
                origin_rpy="0 0 0"
                ixx="0" ixy="0" ixz="0"
                iyy="0" iyz="0"
                izz="0" />
	
	<xacro:m_uwb_anchor
                name="${l04}"
                parent="${l00}"
                origin_xyz="0.30 -0.30 0.12"
                origin_rpy="0 0 0"
                ixx="0" ixy="0" ixz="0"
                iyy="0" iyz="0"
                izz="0" />


	<gazebo reference="${l00}">
    		<material>Gazebo/Orange</material>
  	</gazebo>
	
	<gazebo reference="${l01}">
                <material>Gazebo/Orange</material>
        </gazebo>

	<gazebo reference="${l02}">
                <material>Gazebo/Orange</material>
        </gazebo>

	<gazebo reference="${l03}">
                <material>Gazebo/Orange</material>
        </gazebo>

	<gazebo reference="${l04}">
                <material>Gazebo/Orange</material>
        </gazebo>

</robot>
