<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="l00" value="uwb_platform_base_link" />
    <xacro:property name="l01" value="uwb_anchor_0" />
    <xacro:property name="l02" value="uwb_anchor_1" />
    <xacro:property name="l03" value="uwb_anchor_2" />
    <xacro:property name="l04" value="uwb_anchor_3" />

</robot>
