<?xml version="1.0"?>
<launch>
	
	<node 
  		name="move_drone" 
		pkg="aut_opp" 
		type="move_drone" 
		respawn="true" 
		output="screen" 
	/>

	<node 
  		name="start" 
		pkg="aut_opp" 
		type="start" 
		respawn="true" 
		output="screen" 
	/>

	<node 
  		name="land" 
		pkg="aut_opp" 
		type="land_drone" 
		respawn="true" 
		output="screen" 
	/>


	<node 
  		name="control" 
		pkg="aut_opp" 
		type="control" 
		respawn="true" 
		output="screen" 
	/>
</launch>
