<?xml version="1.0"?>
<launch>

	<arg name="robot_name" default="uwb_platform"/>
	<arg name="init_pose_x" default="3"/>
	<arg name="init_pose_y" default="3"/>
	<arg name="init_pose_z" default="0"/>


        <node name="spawn_uwb_platform" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-urdf -param /robot_description -model $(arg robot_name) -x $(arg init_pose_x) -y $(arg init_pose_y) -z $(arg init_pose_z)"/>


	<node pkg="tf2_ros" type="static_transform_publisher" name="uwb_anchor_0x6e36" args="-0.30 0.30 0.12 0 0 0 1 platform_prefix/base_footprint platform_prefix/uwb_anchor_0" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="uwb_anchor_0x6e33" args="0.30 0.30 0.12 0 0 0 1 platform_prefix/base_footprint platform_prefix/uwb_anchor_1" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="uwb_anchor_0x6e49" args="-0.30 -0.30 0.12 0 0 0 1 platform_prefix/base_footprint platform_prefix/uwb_anchor_2" />	
	<node pkg="tf2_ros" type="static_transform_publisher" name="uwb_anchor_0x6e30" args="0.30 -0.30 0.12 0 0 0 1 platform_prefix/base_footprint platform_prefix/uwb_anchor_3" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

	
	
</launch>
