<?xml version="1.0"?>
<launch>
	<!-- stationplein -->
    <env name="PX4_HOME_LAT" value="51.923345" />
    <env name="PX4_HOME_LON" value="4.470345" />
    <env name="PX4_HOME_ALT" value="488.0" />

	<include file="$(find px4)/launch/px4.launch"></include>
    <include file="$(find simulation_tello)/launch/start_roffa_world.launch"></include>
    <include file="$(find simulation_tello)/launch/start_mavros.launch"></include>
    <include file="$(find simulation_tello)/launch/start_ar_track_alvar.launch"></include>
    
	<!--node 
		name="FramesPublisher" 
		pkg="aut_opp" 
		type="FramesPublisher.py" 
		output="screen" 
		respawn="true">
	</node-->
	
	<!--args="0 0 0 -1.57079632679 0 3.14159265359 base_link usb_camera::camera_link 100"--> 
	<node 	
		pkg="tf" 
		type="static_transform_publisher" 
		name="static_tf_broadcaster" 
		args="0.105 0 0 -1.57079632679 0 -1.77079632679 base_link usb_camera::camera_link 100" 
	/>
    
	<node 
		pkg="tf" 
		type="static_transform_publisher" 
		name="static_tf_broadcaster_fcu" 
		args="0 0 0 0 0 3.14159265359 fcu_frd fcu 100" 
	/>
    
	<node 	
		pkg="tf" 
		type="static_transform_publisher" 
		name="static_tf_broadcaster_fox_cart" 
		args="0 0 0 0 0 0 base_footprint base_cart_link 100" 
	/>
    
	<node 
		name="rviz_uav" 
		pkg="rviz" 
		type="rviz" 
		output="screen" 
		args="-d $(find simulation_tello)/cfg/config.rviz" 
	/>

</launch>
