<?xml version="1.0"?>
<launch>
	<include file= "$(find simulation_tello)/launch/spawn_sdf.launch">
		<arg name="robot_name" value="iris_tello">
		<arg name="x" default="1.0"/>
    	<arg name="y" default="1.0"/>
    	<arg name="z" default="1.0"/>
    	<arg name="roll" default="0"/>
    	<arg name="pitch" default="0.0"/>
    	<arg name="yaw" default="0.0"/>
		<arg name="model_file" default="$(find simulation_tello)/gazebo_model/models/iris_camera/iris_camera.sdf"/>
	</include>
</launch>
